<%- include('../partials/header') %>
<h1>Categories</h1>
<a href="/categories/create">Create New Category</a>
<ul>
  <% categories.forEach(category => { %>
  <li>
    <a href="/categories/<%=category.name %>"><%= category.name %></a>
    <a href="/categories/<%=category.name %>/edit">Edit</a>
    <form
      action="/categories/<%=category.id %>/delete"
      method="post"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
  </li>
  <% }); %>
</ul>
<%- include('../partials/footer') %>
