<%- include('../partials/header') %>
<h1>Edit Product: <%= product.name %></h1>
<form action="/products/<%= product.name%>/update" method="post">
  <label for="name">Product Name:</label>
  <input type="text" name="name" id="name" value="<%= product.name %>" required />
  <label for="description">Description:</label>
  <textarea name="description" id="description"><%= product.description %></textarea>
  <label for="price">Price:</label>
  <input type="number" name="price" id="price" step="0.01" value="<%= product.price %>" required />
  <label for="stock_quantity">Stock Quantity:</label>
  <input type="number" name="stock_quantity" id="stock_quantity" value="<%= product.stock_quantity %>" required />
  <label for="category_id">Category:</label>
  <select name="category_id" id="category_id" required>
    <% categories.forEach(category => { %>
      <option value="<%= category.id %>" <%= category.id === product.category_id ? 'selected' : ''%> >
        <%= category.name %>
      </option>
    <% }); %>
  </select>
  <button type="submit">Update</button>
</form>
<%- include('../partials/footer') %>
